@model IEnumerable<SistemaNutricional.Models.planAlimentacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calorias)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calorias)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPlan }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPlan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPlan })
        </td>
    </tr>
}

</table>
