@model WebNutricion.Models.valoresNutricionale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>valoresNutricionale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expectativas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expectativas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.informacionConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.informacionConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.historial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idValores }) |
    @Html.ActionLink("Back to List", "Index")
</p>
