@model IEnumerable<WebNutricion.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>



<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>User Name</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Cédula</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
        <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
        <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
        <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
        <td>
            <hr />
            @using (Html.BeginForm("ShowAntropometricData", "AspNetUser", FormMethod.Get))
            {
                <div class="form-group">
                    <input type="hidden" value="@item.Id" name="id" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Gestionar Cliente</button>
            }
            @using (Html.BeginForm("Progress", "AspNetUser", FormMethod.Get))
            {
                <div class="form-group">
                    <input type="hidden" value="@item.Id" name="id" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Progreso</button>
            }
        </td>
    </tr>
}

        </tbody>
    </table>
</div>


