@model IEnumerable<SistemaNutricional.Models.datosAntropometrico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.planificacionNutricional.objetivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grasacorporal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosAnaliticos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.progreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.planificacionNutricional.objetivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grasacorporal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datosAnaliticos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.progreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDatos }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDatos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDatos })
        </td>
    </tr>
}

</table>
