

@using WebNutricion.Models
@model LoginViewModel

@{
    Layout = null; // Esto elimina el diseño predeterminado
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/WebStyleMain/LoginFront/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/WebStyleMain/LoginFront/images/pexels-element5-775031.jpg); ">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section mt-5">NUTRICIÓN MANUEL SANABRIA</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-5 text-center">Tienes una cuenta?</h3>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()


                            <div class="form-group">
                                <input type="text" class="form-control" name="Email" placeholder="Username" required>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" name="Password" placeholder="Password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control btn btn-primary submit px-3" value="Login">
                                @*<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>*@
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">

                                    @*<label class="checkbox-wrap checkbox-primary">
                                        Remember Me
                                        <input type="checkbox" name="RememberMe" checked>
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <span class="checkmark"></span>
                                    </label>*@
                                </div>
                            </div>
                        }

                        <p class="w-100 text-center">&mdash; &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="@Url.Action("Index", "Home")" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/WebStyleMain/LoginFront/js/jquery.min.js"></script>
    <script src="~/WebStyleMain/LoginFront/js/popper.js"></script>
    <script src="~/WebStyleMain/LoginFront/js/bootstrap.min.js"></script>
    <script src="~/WebStyleMain/LoginFront/js/main.js"></script>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
